  .chatbox-wrapper {
    position: fixed;
    bottom: 5px;
    right: 10px;
    width: 300px;
    height: 390px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
  }
  
  .chatbox-header {
    background-color: #E35765;
    color: white;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .chat-title {
      display: flex;
      gap: 10px;
      align-items: center;
  
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
  
      small {
        font-size: 0.75rem;
      }
    }
  
    .close-btn {
        width: 32px;
        height: 32px;
        font-size: 20px;
        line-height: 1;
        border: none;
        outline: none;
        background-color: #f0f0f0;
        color: #e35765;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

      }
  }
  
  .chatbox-body {
    padding: 6px;
    flex: 1;
    overflow-y: auto;
    background: #f4f6f8;
  
    .msg {
      margin-bottom: 5px;
      display: flex;
  
      &.user {
        justify-content: flex-end;
  
        .bubble {
          background-color: #007aff;
          color: white;
          align-self: flex-end;
        }
      }
  
      &.bot {
        justify-content: flex-start;
  
        .bubble {
          background-color: #e5e5ea;
          color: black;
        }
      }
  
      .bubble {
        padding: 6px 8px;
        border-radius: 5px;
        max-width: 80%;
        font-size: 14px;
      }
    }
  }
  
  .chatbox-footer {
    padding: 6px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  
    .input-wrapper {
      display: flex;
      align-items: center;
      background-color: #f1f3f5;
      border-radius: 25px;
      padding: 2px 8px;
      transition: box-shadow 0.2s;
  
      &:focus-within {
        box-shadow: 0 0 0 2px #ffbec5;
      }
  
      input {
        flex: 1;
        border: none;
        border-radius: 25px;
        padding: 8px 12px;
        background: transparent;
        font-size: 14px;
      
        outline: none;
        box-shadow: none;
      }
  
      .send-btn {
        background-color: #E35765;
        border: none;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6px;
        transition: background 0.2s ease;
  
        &:hover {
          background-color: #f0616f;
        }
  
        i {
          color: #fff;
        }
      }
    }
  }
  
  .bubble.typing {
    font-style: italic;
    opacity: 0.7;
    animation: blink 1.2s infinite;
  }
  
  @keyframes blink {
    0%   { opacity: 0.2; }
    50%  { opacity: 1; }
    100% { opacity: 0.2; }
  }
  