.custom-datepicker {
    width: 130px !important; 
  }

.table-orders th:nth-child(1) { width: 3%; }
.table-orders th:nth-child(2) { width: 10%; }
.table-orders th:nth-child(3) { width: 15%; }
.table-orders th:nth-child(4) { width: 20%; }
.table-orders th:nth-child(5) { width: 12%; }
.table-orders th:nth-child(6) { width: 8%; }
.table-orders th:nth-child(7) { width: 10%; }
.table-orders th:nth-child(8) { width: 8%; }
.table-orders th:nth-child(9) { }
